@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@300..700&display=swap');

@font-face {
	font-family: 'Univers Condensed';
	src: url('fonts/UniversLTStd-LightCn TTF.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Univers Condensed';
	src: url('fonts/univers-47-condensedlight-bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

/* Reset de alguns elementos básicos */
body, h1, p {
  margin: 0;
  padding: 0;
}

/* Definição de variáveis */
:root {
  --itercode-blue: hsl(227, 70%, 55%);
  --white-button-hover: hsl(227, 70%, 48%);
  --white-button-pressed: hsl(227, 70%, 43%);
  --white-button-hover-text: white;
}

/* Topo da página */
.page-top {
  background-color: var(--itercode-blue);
  background-image: url('../images/background-page-top.png');
  background-size:auto;
  background-position: top -2400px right -1500px;
  background-clip: border-box;
}

/* Janela menor no desktop */
@media (max-width: 1920px) {
  .page-top {
    background-position: top -2400px right -1600px;
  }
}

@media (max-width: 1700px) {
  .page-top {
    background-position: top -2200px right -1800px;
  }
}

@media (max-width: 1300px) {
  .page-top {
    background-position: top -2300px right -2100px;
  }
}

@media (max-width: 768px) {
  .page-top {
    background-position: top -2550px right -2400px;
  }
}

/* Seções */
.section-container-transparent, .section-container-blue, .section-container-about, .section-hero, .section-advanced-features {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-carousel {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-container-blue, .section-advanced-features {
  background: var(--itercode-blue);
}

.section-container-about {
  background-image: url('../images/background-about.png');
  background-repeat: no-repeat;
  background-size: 145%;
  background-position: center;
  background-clip: border-box;
}

/* Configurações de texto */
h1, p {
  color: white;
}

.button-text-blue {
  color: white;
  background-color: var(--itercode-blue);
}

.button-text-white {
  color: var(--itercode-blue);
  background-color: white;
}

h1 {
  font-family: 'Overpass Mono', monospace;
  font-size: 2.5rem;
  font-weight: 500;
  text-align: center;
}

p {
  font-family: 'Univers Condensed', sans-serif;
  font-size: 2.0em;
  font-weight: 400;
  text-align: center;
  margin-top: 20px;
}

.button-text-blue, .button-text-white {
  font-family: 'Overpass Mono', monospace;
  font-size: 2.1rem;
  font-weight: 400;
  text-align: center;
  margin: 0;
  padding: 0;
}

/* Styles do body e das fontes */
.section-container-transparent, .section-container-blue, .section-container-about {
  line-height: 1.2;
  padding-left: 21%;
  padding-right: 21%;
}

.section-hero {
  line-height: 1.2;
  padding-left: 21%;
  padding-right: 17%;
}

.section-advanced-features, .section-carousel {
  line-height: 1.2;
  padding-left: 17%;
  padding-right: 17%;
}

/* Janela menor no desktop */
@media (max-width: 1367px) {
  .section-container-transparent, .section-container-blue, .section-container-about, .section-hero, .section-advanced-features, .section-carousel {
    padding-left: 15%;
    padding-right: 15%;
  }
}

/* Tamanho de tela médio (tablets, etc.) */
@media (max-width: 768px) {
  .section-container-transparent, .section-container-blue, .section-container-about, .section-hero, .section-advanced-features, .section-carousel {
    line-height: 1.1;
    padding-left: 10%;
    padding-right: 10%;
  }

  .section-container-about {
    background-size: 170%;
  }

  h1 {
    font-size: 1.4rem;
    text-align: center;
  }

  p {
    font-size: 1.3em;
    margin-top: 30px;
  }

  .button-text-blue, .button-text-white {
    font-family: 'Overpass Mono', monospace;
    font-size: 1.4em;
    font-weight: 400;
    text-align: center;
    margin: 0;
  }
}

/* Tamanho de tela pequeno (celulares largos, <= 600px) */
@media (max-width: 600px) {
  .section-container-transparent, .section-container-blue, .section-container-about, .section-carousel {
    padding-left: 5%;
    padding-right: 5%;
  }
}

/* Tamanho de tela extra pequeno (celulares pequenos, <= 400px) */
@media (max-width: 400px) {
  .section-container-transparent, .section-container-blue, .section-container-about, .section-carousel {
    padding-left: 2%;
    padding-right: 2%;
  }
}


/* ===================================================== */


/* SEÇÃO 1 */
/* Cabeçalho da página */
.top-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2.7rem 0 1.5rem 0;
  padding: 14px 12px 14px 12px;
  height: 4.5rem;
  background: var(--itercode-blue);
  width: 100%;
}

.logo img {
  max-height: 73px;
  height: auto;
  width: auto;
  object-fit: contain;
  display: block;
}

.language-and-social-media {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.social-media-icons ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  align-items: center;
  justify-content: center;
  margin: 0 28px;
  padding: 0;
}

.social-media-icons li {
  margin-left: 10px;
  height: 30px;
  width: 30px;
  object-fit: contain;
  background-color: white;
  padding: 8px;
  border-radius: 50%;
}

/* ícone do linkedin */
.social-media-icons li[data-id="2"]{
  height: 26px;
  width: 26px;
  padding: 10px;
}

/* ícone do website */
.social-media-icons li[data-id="4"]{
  width: 31px;
}

.social-media-icons a {
  object-fit: contain;
}

.social-media-icons img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.vertical-bar {
  border-left: 3px solid white;
  height: 35px;
  border-radius: 3px;
}

.languages {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.select-language a {
  display: flex;
  justify-content: center;
  align-items: end;
  flex-direction: row;
  padding: 12px 0;
  text-decoration: none;
  margin-left: 28px;
}

.select-language a h1 {
  margin: 0 0 0 8px;
  font-size: 22px;
  height: 100%;
  white-space: nowrap;
}

/* Para telas pequenas */
@media (max-width: 1050px) {
  .top-navigation {
    margin: 22px 0 0 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
  }

  .logo img {
    max-height: 58px;
    height: auto;
    width: auto;
    object-fit: contain;
    display: block;
  }

  .language-and-social-media {
    flex-direction: column;
  }

  .social-media-icons ul {
    flex-direction: row;
    justify-content: center;
    margin: 18px 0;
  }

  .social-media-icons li {
    margin: 0 5px;
  }

  .vertical-bar {
    display: none;
  }

  .select-language a {
    margin: 12px 8px 0 8px;
    padding: 0;
  }
}


/* ===================================================== */


/* SEÇÃO 2 e parte da SEÇÃO 7*/
/* Hero */
.hero, .call-to-test {
  display: flex;
  padding: 14px 12px;
}

.hero {
  margin: 24px 0;
}

.hero-text, .call-text {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding: 63px 12px;
}

.hero-text h1, .hero-text p, .call-text h1, .call-text p {
  text-align: left;
}

.hero-image, .call-image {
  display: flex;
  justify-content: center;
}

.hero img, .call-image img {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  object-fit: contain;
  padding: 0 12px;
}


@media (max-width: 1300px) {
  .hero {
    margin: 0;
  }

  .hero, .call-to-test {
    flex-direction: column;
  }

  .hero-text, .call-text {
    align-items: center;
    padding: 12px 0;
    width: 100%;
  }

  .hero-text h1, .hero-text p, .call-text h1, .call-text p {
    text-align: center;
  }

  .hero img, .call-image img {
    padding: 32px 0 22px 0;
    flex-shrink: 1;
  }

  .hero img {
    width: 50%;
  }

  .call-image img {
    width: 30%;
  }
}

/* ===================================================== */


/* SEÇÃO 3 */
/* Video */
.video-and-button {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 80%;
  flex-direction: column;
  padding: 12px 0;
  margin: 22px 0;
}

.video-container {
  padding: 14px 0 24px 0;
  width: 100%;
}

.aspect-ratio {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.2%;
}

.aspect-ratio iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border: var(--itercode-blue) 2px solid;
}

.video-and-button button {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 44px 12px;
  background-color: var(--itercode-blue);
  border-radius: 16px;
  box-shadow: none;
  width: 75%;
  border: none;
  height: auto;
}

.video-and-button button:hover {
  background-color: var(--white-button-hover);
  cursor: pointer;
}

.video-and-button button:hover p {
  background-color: var(--white-button-hover);
  color: var(--white-button-hover-text);
}

@media (max-width: 768px) {
  .video-and-button {
    padding: 0;
    margin: 0 0 22px 0;
  }

  .video-and-button button {
    padding: 22px 12px;
  }
}


/* ===================================================== */


/* SEÇÃO 4 */
/* Features */
.features {
  background: var(--itercode-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 14px 80px;
  margin: 48px 0 22px 0;
}

.textbox {
  margin: 56px 10% 56px 10%;
  padding: 14px 14px;
  background-color: white;
  border-radius: 16px;
}

.textbox p {
  color: var(--itercode-blue);
  margin: 0;
}

.feature-list {
  padding: 0px 95px;
}

.feature-list .list-point {
  align-items: center;
  vertical-align: middle;
  display: flex;
  flex-direction: row;
  padding: 0 0 50px;
}

.feature-list .list-point p {
  margin: 0 0 0 30px;
  text-align: left;
}

.feature-list .list-point img {
  max-width: 20px;
  max-height: 20px;
  background-color: white;
  border-radius: 50%;
  padding: 8px;
}

@media (max-width: 1300px) {
  .features {
    padding: 14px 12px;
    margin: 48px 0 0 0;
  }

  .textbox {
    margin: 28px 10% 38px 10%;
    padding: 14px 25px;
  }

  .feature-list {
    padding: 0px 40px;
  }

  .feature-list .list-point p {
    margin: 0 0 0 25px;
    text-align: left;
  }
}

@media (max-width: 768px) {
  .feature-list .list-point img {
    max-width: 16px;
    max-height: 16px;
    padding: 6px;
  }
}


/* ===================================================== */


/* SEÇÃO 5 */
/* Carousel */
.carousel {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.slideshow-and-dots-container {
  display: flex;
  flex-direction: column;
  margin: 52px 12px;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Esconde as imagens como default */
.mySlides {
  display: none;
}

.carousel-1 .slideshow-and-dots-container .slideshow-container .mySlides img {
  width: 100%;
  height: 70vh;
  object-fit: contain;
}

.prev, .next {
  cursor: pointer;
  padding: 16px;
  font-size: 52px;
  border: var(--itercode-blue) 3px solid;
  border-radius: 50%;
  color: var(--itercode-blue);
  transition: 0.1s ease;
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow-left{
  transform: translate(-10%, 0);
}

.arrow-right{
  transform: translate(10%, 0);
}

.prev:hover, .next:hover {
  background-color: var(--itercode-blue);
  color: white;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: hsl(227, 70%, 75%);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.2s ease;
}

.active, .dot:hover {
  background-color: var(--itercode-blue);
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@media (max-width: 1300px) {
  .prev, .next {
    margin-top: -30px;
    font-size: 36px;
    width: 16px;
    height: 16px;
    border: var(--itercode-blue) 2px solid;
  }

  .arrow-left{
    transform: translate(-5%, 0);
  }
  
  .arrow-right{
    transform: translate(5%, 0);
  }
}

@media (max-width: 1024px) {
  .carousel-1 .slideshow-and-dots-container .slideshow-container .mySlides img {
    height: 40vh;
  }
}

@media (max-width: 600px) {
  .prev, .next {
    margin-top: -25px;
    font-size: 24px;
    width: 8px;
    height: 8px;
  }
}

@media (max-width: 375px) {
  .carousel-1 .slideshow-and-dots-container .slideshow-container .mySlides img {
    height: 30vh;
  }
}


/* ===================================================== */


/* SEÇÃO 6 */
/* Advanced Features */
.features .text-header {
  margin: 48px 10% 12px 10%;
  padding: 14px 12px 0 12px;
}

.features .text-header p {
  margin: 0;
}

.feature-list-and-image {
  display: flex;
  padding: 14px 12px;
}

.feature-list-and-image .features-image {
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: contain;
  flex-shrink: 0.2;
  flex-basis: 50%;
  margin-right: 22px;
}

.features-image img {
  max-width: 100%;
}

.feature-list-and-image .feature-list {
  padding: 0 12px 0 32px;
}

@media (max-width: 1300px) {
  .features .text-header {
    margin: 32px 10% 12px 10%;
  }

  .feature-list-and-image {
    flex-direction: column-reverse;
    margin-bottom: 32px;
  }

  .features-image img {
    max-width: 70%;
  }

  .feature-list-and-image .hero-img img {
    padding: 32px 0 22px 0;
  }

  .feature-list-and-image .hero-img {
    max-width: 50%;
  }
}


/* ===================================================== */


/* SEÇÃO 7 */
/* Testimonials */

.testimonial-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  margin: 20px;
  margin-top: 10px;
  padding: 0;
}

.testimonial-text {
  color: var(--itercode-blue);
  font-size: x-large;
  text-align: justify;
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
}

.testimonial-name {
  color: var(--itercode-blue);
  font-size: x-large;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.testimonial-image {
  pointer-events: none;
  align-self: center;
  max-width: 250px;
  max-height: 100px;
}

.carousel .carousel-2 .slideshow-and-dots-container .slideshow-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-2 .slideshow-and-dots-container .slideshow-container .mySlides {
  border: var(--itercode-blue) 2px solid;
  border-radius: 8px;
}

.carousel-2 .slideshow-and-dots-container .slideshow-container .mySlides img {
  width: 100%;
  height: 70vh;
  object-fit: contain;
}

@media (max-width: 1024px) {
  .carousel-2 .slideshow-and-dots-container .slideshow-container .mySlides img {
    height: 40vh;
  }
}

@media (max-width: 375px) {
  .carousel-2 .slideshow-and-dots-container .slideshow-container .mySlides img {
    height: 30vh;
  }
}


/* ===================================================== */


/* SEÇÃO 8 */
/* Call to test */

.call-to-test button {
  margin: 42px 0 0 0;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 44px 12px;
  border-radius: 16px;
  box-shadow: none;
  width: 60%;
  border: none;
  height: auto;
  background-color: white;
}

.call-to-test button:hover {
  background-color: var(--white-button-hover);
  cursor: pointer;
}

.call-to-test button p {
  text-align: center;
}

.call-to-test button:hover p {
  background-color: var(--white-button-hover);
  color: var(--white-button-hover-text);
}
  
@media (max-width: 1300px) {
  .call-to-test button {
    padding: 22px 12px;
    width: 70%;
  }
}

@media (max-width: 600px) {
  .call-image img {
    padding: 24px 0 16px 0;
  }
}

/* ===================================================== */

/* SEÇÃO 9 */
/* About */
.about-itercode {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 14px 80px;
  margin: 56px 0 48px 0;
}

.about-itercode h1, .about-itercode p {
  color: var(--itercode-blue);
  text-align: left;
}

.about-itercode h1 {
  margin: 0 0 22px 0;
}

.about-itercode p {
  margin: 28px 0 0 0;
}

@media (max-width: 1300px) {
  .about-itercode {
    align-items: center;
    padding: 14px 40px;
    margin: 48px 0;
  }

  .about-itercode h1 {
    margin: 0;
  }
}


/* ===================================================== */


/* SEÇÃO 10 */
/* Formulário */

/* Parte que só existe na versão em inglês do site */
.buy-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.autodesk-option {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 14px 12px;
  margin: 62px 0 0 0;
  max-width: 700px;
  width: 100%;
}

.autodesk-option {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 14px 12px;
  margin: 62px 0 32px 0;
  max-width: 700px;
  width: 100%;
}

.autodesk-option .buy-button a {
  width: 100%;
  text-decoration: none;
}

.autodesk-option .buy-button button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: 1px;
  background-color: white;
  border: none;
  color: var(--itercode-blue);
  padding: 32px 18px;
  border-radius: 5px;
  outline: none;
  transition: background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
}

.autodesk-option .buy-button button img {
  margin-right: 18px;
}

@media (max-width: 768px) {
  .buy-area {
    margin: 48px 0 0 0;
  }
}

@media (max-width: 460px) {
  .autodesk-option .buy-button button {
    padding: 32px 32px;
  }

  .autodesk-option .buy-button button img {
    width: 60px;
    height: 42px;
  }
}

/* fim da parte que só existe no site em inglês */

.buy-now {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 14px 12px;
  margin: 32px 0 62px 0;
  max-width: 700px;
  width: 100%;
}	

.card {
  margin-bottom: 30px;
  border-radius: 8px;
  background-color: transparent;
  border:2px solid white;
  width: 100%;
}

.card .row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.row label {
  font: 400 22px 'Univers Condensed', sans-serif;
  display: inline-block;
  letter-spacing: 0.5px;
  color: white;
  width: 30%;
  margin: 32px 0 32px 8%;
  text-align: left;
  max-width: 150px;
}

/* Para compatibilidade com navegadores antigos */
[hidden] {
  display: none;
}

.row input, .row select {
  flex: 1;
  display: inline-block;
  margin: 32px 42px 32px 22px;
  padding: 10px 30px;
  background-color: white;
  color: var(--itercode-blue);
  border: 3px solid white;
  border-radius: 8px;
  font-size: 20px;
  width: 70%;
}

select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus,
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
  -webkit-box-shadow: 0 0 0 30px hsl(0, 0%, 100%) inset !important;
  -webkit-text-fill-color: var(--itercode-blue);
}

.row input:focus, .row select:focus { 
  border: 3px solid hsl(227, 70%, 70%);
  outline: none;
}

.row input::placeholder {
  font-family: 'Univers Condensed', sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 20px;
  color: hsl(0, 0%, 80%);
}

.buy-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.buy-button button {
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 1px;
  background-color: white;
  border: none;
  color: var(--itercode-blue);
  padding: 18px;
  border-radius: 5px;
  outline: none;
  transition: background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
}

.buy-button button:hover {
  background-color: var(--white-button-hover);
  color: white;
  cursor: pointer;
}

@media (max-width: 768px) {
  .buy-now {
    margin: 24px 0 48px 0;
  }	

  .card {
    padding: 22px 0;
    width: 100%;
  }

  .card .row {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .row label {
    width: 100%;
    margin: 12px 0 0 0;
    text-align: center;
    max-width: none;
  }

  .row input, .row select{
    display: inline-block;
    margin: 12px 0 22px 0;
    padding: 10px 0;
    font-size: 18px;
    width: 80%;
    text-align: center;
    min-width: none;
  }
}


/* ===================================================== */


/* SEÇÃO 11 */
/* Footer */
footer {
  background: white;
  padding: 32px 0;
  text-align: center;
}
footer p {
  text-align: center;
  margin: 0;
  color: var(--itercode-blue);
}

@media (max-width: 1300px) {
  footer {
    padding: 22px;
  }
}


/* ===================================================== */


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  justify-content: center;
  align-items: center;
}

/* Modal Content (Image) - Updated for absolute centering */
.modal-content {
  position: absolute;
  max-width: 90%;
  max-height: 80%;
  width: auto; /* Adjust width to be auto to respect max-width */
  height: auto; /* Adjust height to be auto to respect max-height */
  object-fit: contain; /* Ensures the aspect ratio is preserved */
  /* Center the content */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}