@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono&display=swap');

@font-face {
    font-family: 'Univers-Condensed';
    src: url('fonts/univers-47-condensedlight-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Univers-Condensed';
    src: url('fonts//UniversLTStd-LightCn\ TTF.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Reset de alguns elementos básicos */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;

}

/* Configurações de texto */
h1 {
    font-size: 2.5rem;
    font-weight: 500;
    color: white;
    text-align: center;
    margin-top: 20px;
    font-family: 'Overpass Mono', monospace;
}

p {
    font-size: 1.8em;
    font-weight: 500;
    color: white;
    text-align: center;
    margin-top: 20px;
    font-family: 'Univers-Condensed', sans-serif;
}

/* Styles do body e das fontes */
.section-container-transparent, .section-container-blue {
    line-height: 1.2;
    padding-left: 21%;
    padding-right: 21%;
}

/* Janela menor no desktop */
@media (max-width: 1200px) {
    .section-container-transparent, .section-container-blue {
        padding-left: 15%;
        padding-right: 15%;
    }
}

/* Tamanho de tela médio (tablets, etc.) */
@media (max-width: 768px) {
    .section-container-transparent, .section-container-blue {
        padding-left: 10%;
        padding-right: 10%;
    }
}

/* Tamanho de tela pequeno (celulares largos, <= 600px) */
@media (max-width: 600px) {
    .section-container-transparent, .section-container-blue {
        padding-left: 5%;
        padding-right: 5%;
    }
}

/* Tamanho de tela extra pequeno (celulares pequenos, <= 400px) */
@media (max-width: 400px) {
    .section-container-transparent, .section-container-blue {
        padding-left: 2%;
        padding-right: 2%;
    }
}


/* Seções */
.section-container-transparent, .section-container-blue {
    display: flex;
    border: 2px solid black;
}

.section-container-blue {
    background: #3e60dd;
}


/* ===================================================== */


/* SEÇÃO 1 */
/* Cabeçalho da página */
.top-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2.7rem;
    padding: 14px 12px 14px 12px;
    height: 4.5rem;
    background: #3e60dd;
    width: 100%;
}

/* Logo do cabeçalho */
.logo img {
    max-height: 73px;
    height: auto;
    width: auto;
    object-fit: contain;
    display: block;
}

/* Ícones das redes sociais */
.social-media-icons ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0 0 0 2.5rem;
    padding: 0;
}

.social-media-icons li {
    margin-right: 10px; /* Adjust spacing between icons as needed */
    padding: 0;
    height: 50px;
}

.social-media-icons a {
    display: inline-block; /* Allows setting width and height */
    width: 50px; /* Set to desired width */
    height: 50px; /* Set to desired height */
    position: relative; /* Positions the anchor as a reference point for the image */
    overflow: hidden; /* Ensures nothing extends beyond the anchor's bounds */
}

.social-media-icons img {
    display: block; /* Removes any default inline spacing */
    width: 100%; /* Makes image fill the anchor */
    height: 100%; /* Makes image fill the anchor */
    object-fit: cover; /* Ensures image covers the space without distortion */
}

.social-media-icons ul li:hover {
    background: white;
    color: #3e60dd;
}


/* Para mobile */
@media (max-width: 600px) {
    .top-navigation {
        margin: 22px 0 0 0;
        flex-direction: column; /* Stack items vertically */
        justify-content: center; /* Center items vertically */
        align-items: center; /* Center items horizontally */
        height: auto; /* Allow the header to grow as needed */
    }

    .social-media-icons ul {
        flex-direction: row; /* Keeps icons in a row */
        justify-content: center; /* Center the icons row */
        margin: 14px 0 0 0; /* Add some space above and below the icons list */
    }
}


/* ===================================================== */


/* SEÇÃO 2 */
/* Hero */
.hero {
    display: flex;
    justify-content: center;
    align-items: top;
    padding: 14px 12px;
}

/* Texto do hero */
.hero-text {
    margin: 88px 0 0 0;
    /* flex: 0 0 57%; */
    padding: 0 12px;
    width: 100%;
}

.hero-text h1, .hero-text p {
    text-align: left;
}

/* Imagem do hero */
.hero img {
    height: auto;
    width: 20px;
    display: flex;
    justify-content: space-between;
    align-items: top;
    padding: 63px 12px;
}


/* ===================================================== */


/* SEÇÃO 2 */
/* Video */
.video-container {
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px 13%;
    width: 100%;
}

.aspect-ratio {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.29%; /* The height of the item will now be 56.25% of the width. */
}

.aspect-ratio iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border: #3e60dd 2px solid;
}



/* SEÇÃO 2 */
/* Features */
.features {
    background: #3e60dd;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 14px 80px;
}

.features .textbox {
    padding: 14px 50px;
}

.features .feature-list {
    padding: 0px 95px;
}

.features .feature-list .list-point {
    align-items: center;
    vertical-align: middle;
    display: flex;
    flex-direction: row;
    padding: 0 0 50px;
}

.features .feature-list .list-point p {
    margin: 0 0 0 20px;
}

/* SEÇÃO 3 */
/* Carousel */
/* @keyframes tonext {
    75% {
      left: 0;
    }
    95% {
      left: 100%;
    }
    98% {
      left: 100%;
    }
    99% {
      left: 0;
    }
  }
  
  @keyframes tostart {
    75% {
      left: 0;
    }
    95% {
      left: -300%;
    }
    98% {
      left: -300%;
    }
    99% {
      left: 0;
    }
  }
  
  @keyframes snap {
    96% {
      scroll-snap-align: center;
    }
    97% {
      scroll-snap-align: none;
    }
    99% {
      scroll-snap-align: none;
    }
    100% {
      scroll-snap-align: center;
    }
  }
  
  body {
    max-width: 37.5rem;
    margin: 0 auto;
    padding: 0 1.25rem;
    font-family: 'Lato', sans-serif;
  }
  
  * {
    box-sizing: border-box;
    scrollbar-color: transparent transparent;
    scrollbar-width: 0px;
  }
  
  *::-webkit-scrollbar {
    width: 0;
  }
  
  *::-webkit-scrollbar-track {
    background: transparent;
  }
  
  *::-webkit-scrollbar-thumb {
    background: transparent;
    border: none;
  }
  
  * {
    -ms-overflow-style: none;
  }
  
  ol, li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .carousel {
    position: relative;
    padding-top: 75%;
    filter: drop-shadow(0 0 10px #0003);
    perspective: 100px;
  }
  
  .carousel__viewport {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    overflow-x: scroll;
    counter-reset: item;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
  }
  
  .carousel__slide {
    position: relative;
    flex: 0 0 100%;
    width: 100%;
    background-color: #f99;
    counter-increment: item;
  }
  
  .carousel__slide:nth-child(even) {
    background-color: #99f;
  }
  
  .carousel__slide:before {
    content: counter(item);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-40%,70px);
    color: #fff;
    font-size: 2em;
  }
  
  .carousel__snapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    scroll-snap-align: center;
  }
  
  @media (hover: hover) {
    .carousel__snapper {
      animation-name: tonext, snap;
      animation-timing-function: ease;
      animation-duration: 4s;
      animation-iteration-count: infinite;
    }
  
    .carousel__slide:last-child .carousel__snapper {
      animation-name: tostart, snap;
    }
  }
  
  @media (prefers-reduced-motion: reduce) {
    .carousel__snapper {
      animation-name: none;
    }
  }
  
  .carousel:hover .carousel__snapper,
  .carousel:focus-within .carousel__snapper {
    animation-name: none;
  }
  
  .carousel__navigation {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
  }
  
  .carousel__navigation-list,
  .carousel__navigation-item {
    display: inline-block;
  }
  
  .carousel__navigation-button {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-color: #333;
    background-clip: content-box;
    border: 0.25rem solid transparent;
    border-radius: 50%;
    font-size: 0;
    transition: transform 0.1s;
  }
  
  .carousel::before,
  .carousel::after,
  .carousel__prev,
  .carousel__next {
    position: absolute;
    top: 0;
    margin-top: 37.5%;
    width: 4rem;
    height: 4rem;
    transform: translateY(-50%);
    border-radius: 50%;
    font-size: 0;
    outline: 0;
  }
  
  .carousel::before,
  .carousel__prev {
    left: -1rem;
  }
  
  .carousel::after,
  .carousel__next {
    right: -1rem;
  }
  
  .carousel::before,
  .carousel::after {
    content: '';
    z-index: 1;
    background-color: #333;
    background-size: 1.5rem 1.5rem;
    background-repeat: no-repeat;
    background-position: center center;
    color: #fff;
    font-size: 2.5rem;
    line-height: 4rem;
    text-align: center;
    pointer-events: none;
  }
  
  .carousel::before {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
  }
  
  .carousel::after {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
  } */


/* About section */
.section-container .about-itercode {
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 14px 80px;
}

.section-container .about-itercode p, .section-container .about-itercode h1 {
    color: #3e60dd;
}

/* Footer Styles */
footer {
    background: #343a40;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

/* Additional classes for layout and typography can be added as needed. */











